# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# My folders and files
# Lab_1
Lab_1/trescWygenerowana.pdf
Lab_1/fraction.h.gch
Lab_1/doxyfiles/
Lab_1/src/fraction
Lab_1/src/main
Lab_1/doxyfiles
Lab_1/tests/lib
Lab_1/cmake-build-debug
Lab_1/main.cpp
Lab_1/tests/cmake-build-debug
.idea/

# Lab_2
Lab_2/trescPdf.pdf
Lab_2/doxyfiles
Lab_2/cmake-build-debug
Lab_2/tests/cmake-build-debug
Lab_2/main.cpp
Lab_2/tests/lib

# Lab_3
Lab_3/main.cpp
Lab_3/doxyfiles
Lab_3/tests/lib
Lab_3/tests/cmake-build-debug
Lab_3/cmake-build-debug

# Lab_4
Lab_4/main.cpp
Lab_4/doxyfiles
Lab_4/cmake-build-debug
Lab_4/tests/cmake-build-debug
/Lab_4/tests/lib