# Exercises_1
Exercises_1/trescWygenerowana.pdf
Exercises_1/fraction.h.gch
Exercises_1/doxyfiles/
Exercises_1/src/fraction
Exercises_1/src/main
Exercises_1/doxyfiles
Exercises_1/tests/lib
Exercises_1/tests/cmake-build-debug